{% extends 'pollsite/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="grid-container grid-head">
    <div class="grid-item"><h1>{{ question.question_text }}</h1></div>
</div>



<div class="grid-container">
    {% if error_message %}
    <div class="grid-item"><p><strong>{{ error_message }}</strong></p></div>
    {% endif %}
    <div class="grid-item">
        <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <br>
        <input type="submit" value="Vote" style="background-color: #3fff33"/>
        </form>
    </div>
</div>

{% endblock %}