/*general page layout*/

/* menu */
.header {
    width: 100%;
    background-color: #3fff33;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
}
.dropdown {
    float: right;
    right: 0;
}
.dropbtn {
    font-size: 32px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: 5A5A5A;
}
.dropdown-content {
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: white;/*#f1f1f1;*/
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd}
.show {display:block;}
/* end menu */

/* end general page layout */